<div class="col-md-8 col-xl-6 chat" style="padding-left: 0px;">
    <div class="card" style=" width: max-content !important;">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="video_cam" style="padding-top:6px">
                    <span class="x-menu">
                        <i class="fas fa-bars" (click)="openSetting(search)"></i>
                    </span>
                </div>
                <div class="img_cont">
                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                        class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>

                <div class="user_info">
                    <div *ngIf="chatHistory['type']=='u'; then chatWithUser else chatWithGroup"></div>
                    <ng-template #chatWithUser>
                        <span>{{receiverId}}</span>
                    </ng-template>
                    <ng-template #chatWithGroup>
                        <span>{{receiverId}}</span>
                    </ng-template>
                </div>

            </div>

            <span id="action_menu_btn">
                <i class="fas fa-video x-icon"></i>
                <i class="fas fa-phone x-icon"></i>
                <i class="fas fa-ellipsis-v x-icon" (click)="openSetting(search)"></i>
            </span>

            <div class="action_menu">
                <ul>
                    <li><i class="fas fa-user-circle"></i> View profile</li>
                    <li><i class="fas fa-users"></i> Add to close friends</li>
                    <li><i class="fas fa-plus"></i> Add to group</li>
                    <li><i class="fas fa-ban"></i> Block</li>
                </ul>
            </div>
        </div>
        <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="card-body msg_card_body">

            <ng-container *ngFor="let chat of chatHistory; let i = index ">
                <ng-container *ngIf="chat.sender == userId">
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">---
                            {{chat.content}}
                            <span class="msg_time_send">+++ {{chat.created_at}}</span>
                        </div>
                        <div class="img_cont_msg">
                            <ng-container *ngIf="i===(chatHistory.length-1) || (chat.sender!=chat.sender)">
                                <img src="../../assets/icon_receiver.png" class="rounded-circle user_img_msg">
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="chat.sender != userId">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <ng-container *ngIf="i===(chatHistory.length-1) || (chat.receiver!=chat.receiver)">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                    class="rounded-circle user_img_msg">
                            </ng-container>
                        </div>
                        <div class="msg_cotainer">
                            *** {{chat.content}}
                            <span class="msg_time">=== {{chat.created_at}}</span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

        </div>
        <div class="card-footer">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea #chat_area name="" class="form-control type_msg"
                    placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                    <span class="input-group-text send_btn"><i (click)="onSubmit(chat_area.value);chat_area.value = ''"
                            class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>