<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label>Username:</label><input type="text" formControlName="username">
        <br/>
        <label>Password:</label><input type="password" formControlName="password">
        <br/>
        <button type="submit" [disabled]="!loginForm.valid">Đăng nhập</button>
        <button type="button" (click)="accessPublicInfo()">Truy cap thong tin cong cong</button>
        <button type="button" (click)="accessPrivateInfo()">Truy cap thong tin bao mat</button>
    </form>
</div> -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Sign In </h2>
        <!-- Icon -->
        <div class="fadeIn first">
            <img class="logo" src="../../assets/logo.png" id="icon" height="150" width="100" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email" formControlName="email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" formControlName="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="http://localhost:4200/register">SIGN UP</a>
        </div>

    </div>
</div>